In [1]:
import requests
import pandas as pd

## Authentication details

In [2]:
with open('C:/Users/timlx/Desktop/GH_Token.txt', 'r') as file:
    github_token = file.read()
github_auth_token = {'Authorization': 'token %s' % github_token}

## Get Data Function

In [3]:
def get_gh_pulls(user, repo_name):
    url = 'https://api.github.com/repos/%s/%s/pulls' %(user, repo_name)
    r = requests.get(url, headers = github_auth_token)
    raw_data = r.json()
    pr_number = list(map(lambda x: x['number'], raw_data))
    pr_creator = list(map(lambda x: x['user']['login'], raw_data))
    pr_created_ts = list(map(lambda x: x['created_at'], raw_data))
    pr_title = list(map(lambda x: x['title'], raw_data))
    pr_message = list(map(lambda x: x['body'], raw_data))
    
    pr_df = pd.DataFrame({'pr_number': pr_number,
                          'pr_creator': pr_creator,
                          'pr_created_ts': pr_created_ts,
                          'pr_title': pr_title,
                          'pr_message': pr_message})\
    .sort_values('pr_number')
    return(pr_df)

## Get Data

In [4]:
user = 'la-process-and-theory'

interactive_viz = get_gh_pulls(user, 'interactive-visualization')
social_network_analysis = get_gh_pulls(user, 'social-network-analysis')

In [5]:
display(interactive_viz.head())
display(social_network_analysis.head())
display(len(interactive_viz)) #Unfortunately the Api only gives us 30 of the most recent PRs
display(len(social_network_analysis))

,pr_number,pr_creator,pr_created_ts,pr_title,pr_message
29,70,sj2562,2020-04-20T06:03:23Z,Interactive Visualizations,
28,71,Zifan96,2020-04-20T07:28:15Z,interactive visual,
27,72,xinxinxin111,2020-04-20T23:38:32Z,run preprocess first and then run server + ui,assignment done yeah
26,73,jackshen1998,2020-04-21T01:16:23Z,Jack viz done,
25,74,s275,2020-04-27T03:06:47Z,Done❤,Ziyuan \r\nUnit No.5

,pr_number,pr_creator,pr_created_ts,pr_title,pr_message
29,68,leona-joo,2020-04-14T01:20:29Z,Yixuan Zhu Assignment done,not sure if pdf is working
28,69,ad3671,2020-04-18T16:57:45Z,Social Network Analysis On 7th Grade Students,thank you
27,70,s275,2020-04-20T18:49:45Z,Done❤,Ziyuan Guo\r\nUnit No.4
26,71,jackiessshao,2020-04-20T21:57:49Z,work,
25,72,luyidai,2020-04-21T21:18:32Z,SNA-Luyi Dai,

30

30

## Write to CSV

In [6]:
interactive_viz.to_csv('interactive_viz.csv', index = False)
social_network_analysis.to_csv('social_network_analysis.csv', index = False)